body {
    background: #bbbbbb;
    margin: 1px;
    padding: 0;
}

#app {
    display: flex;
    justify-content: space-around;
    width: 600px;
}

#navigation {
    width: 80px;
    margin: auto;
}

#league-standings {
    width: 500px;
    margin: auto;
}
